<div class="alert alert-info alert-block">
  <p>Only department/organisation Analytics Single Point of Contact (SPOC) can request access.</p>
</div>

<%= f.input :google_analytics_request_details, as: :text, label: "Access to Google Analytics", placeholder: 'Detail full name, email address and areas of content.', input_html: {:class => "input-md-6", :rows => 6, :cols => 50 } %>

<%= f.input :single_point_of_contact_request_details, as: :text, label: "Tell me who my Analytics Single Point of Contact (SPOC) is", placeholder: 'Detail information on department/organisation/agency. If you have one include your parent or sponsoring department.', input_html: {:class => "input-md-6", :rows => 6, :cols => 50} %>

<div class="alert alert-info alert-block">
  <p>GDS no longer provide basic analytic reports - you should contact your department/organisation Analytics Single Point of Contact (SPOC) for analytic reporting.</p>
</div>
<%= f.input :report_request_details, as: :text, label: "Analytics Report Request", placeholder: 'Detail of report including date range.', input_html: {:class => "input-md-6", :rows => 6, :cols => 50} %>

<div class="alert alert-info alert-block">
  <p>Before contacting the GDS performance analytics team please check the GOV.UK Performance Analytics Basecamp community for tips or post your query there for help.</p>
</div>
<%= f.input :help_request_details, as: :text, label: "Analytics Help", placeholder: 'Detail what help you require and be specific in the examples you submit.', input_html: {:class => "input-md-6", :rows => 6, :cols => 50} %>
