<div class="row">
  <div class="col-md-6">
    <div id="user_details">
      <%= render partial: 'requested_user_details', locals: { f: f } %>
    </div>

    <div class="form-group">
      <span class="form-label">
        <%= f.label :additional_comments, "What do you want to change?" %>
      </span>
      <span class="form-wrapper">
        <%= f.text_area :additional_comments, class: "input-md-6 form-control", rows: 6, cols: 50 %>
      </span>
    </div>

    <%= render partial: "support/collaborators", locals: { f: f } %>
  </div>
</div>
