<section id="content">
  <header class="section-header">Content Details</header>
  <label for="target_url">URL on </label><label class="url">http://gov.uk/</label>
  <input id="target_url" name="target_url" type="text" required>

  <label for="feedback">Add your content</label>
  <textarea id="feedback" name="feedback" rows="6" cols="50" name="add_content" required></textarea>

  <%= erb :date, :locals => {:title => "When should this content be added?", :label => 'need_by'}%>

  <%= erb :date, :locals => {:title => "Not to be added before (if required)", :label => 'not_before'}%>

  <label for="comments">Additional Comments</label>
  <textarea id="comments" rows="10" cols="50" name="additional"></textarea>
</section>
