<div class="menu">
  <h2>Content request</h2>
  <ul>
    <li><a href="/amend-content"><%= erb :highlight, :locals => {:name => "Content change"} %></a></li>
    <li><a href="/new"><%= erb :highlight, :locals => {:name => "New need"} %></a></li>
  </ul>

  <h2>Other sections</h2>
  <ul>
    <li><a href="/create-user">User access</a></li>
    <li><a href="/campaign">Campaigns</a></li>
    <li><a href="/broken-link">Technical issues</a></li>
  </ul>
</div>


