<div class="menu">
  <h2>Content request</h2>
  <ul>
    <li><a href="/add-content"><%= erb :highlight, :locals => {:name => "Add content"} %></a></li>
    <li><a href="/amend-content"><%= erb :highlight, :locals => {:name => "Amend content"} %></a></li>
    <li><a href="/delete-content"><%= erb :highlight, :locals => {:name => "Delete content"} %></a></li>
  </ul>

  <h2>Other sections</h2>
  <ul>
    <li><a href="/create-user">User access</a></li>
    <li><a href="/campaign">Campaigns</a></li>
    <li><a href="/broken-link">Technical issues</a></li>
  </ul>
</div>


