	<section id="content">
  <header class="section-header">Content Details</header>
  <label for="target_url">Where is the content to be deleted?</label><label class="url">http://gov.uk/</label>
  <input id="target_url" name="url" type="text" required <%= erb :assignvalue, :locals => {:param => @formdata[:url]} %>>

  <%= erb :date, :locals => {:title => "When should this content be deleted?", :label => 'need_by'}%>

  <label for="comments">Additional comments</label>
  <textarea id="comments" rows="10" cols="50" name="additional" <%= erb :assignvalue, :locals => {:param => @formdata[:additional]} %>></textarea>
</section>
