<section id="content">
  <header class="section-header">New need details</header>

  <label for="comments">Additional comments</label>
  <textarea id="comments" rows="10" cols="50" name="additional"><%=@formdata[:additional]%></textarea>
</section>
