<div id="wrapper">
  <section id="framework">

    <div class="inner">

      <header class="page-header group">
        <hgroup><h1>Your request has been submitted. We'll get in touch soon if we need any more information.</h1></hgroup>
      </header>
    </div>
  </section>
</div>
