<div id="wrapper">
  <section id="framework">

    <div class="inner">

      <header class="page-header group">
        <hgroup><h1>Your request has been submitted.</h1></hgroup>
      </header>
    </div>
  </section>
</div>
