<section id="content">
  <label for="target_url">URL on </label><label class="url">http://gov.uk/</label>
  <input id="target_url" name="target_url" type="url" required>

  <label for="old_content">The OLD content to be amended:</label>
  <textarea id="old_content" rows="6" cols="50" name="old_content" required></textarea>

  <label for="new_content">The NEW content amending to:</label>
  <textarea id="new_content" rows="6" cols="50" name="new_content" required></textarea>

  <label for="remove_location">If this content should be moved, please provide where should it be moved
    to:</label>
  <input id="remove_location" type="text" name="place_to_remove">

  <label for="need_by">When should this change be made?</label>
  <input id="need_by" name="need_by" type="date" required>

  <label for="not_added_before">Not to be amended before (if required)</label>
  <input id="not_added_before" name="not_before" type="date">

  <label for="comments">Please add additional comments below:</label>
  <textarea id="comments" rows="10" cols="50" name="additional"></textarea>
</section>
