<div class="menu">
  <h2>Campaigns</h2>
  <ul>
    <li><a href="/campaign"><%= erb :highlight, :locals => {:name => "Campaigns"} %></a></li>
  </ul>

  <ul>

  </ul>

  <h2>Other sections</h2>
  <ul>
    <li><a href="/create-user">User access</a></li>
    <li><a href="/add">Content request</a></li>
    <li><a href="/emergency">Emergency publishing</a></li>
    <li><a href="/tech-issues">Technical issues</a></li>
  </ul>
</div>