<div class="menu">
  <h2>Campaigns</h2>
  <ul>
    <li><a href="/campaign"><%= erb :highlight, :locals => {:name => "Campaign"} %></a></li>
  </ul>

  <ul>

  </ul>

  <h2>Other sections</h2>
  <ul>
    <li><a href="/create-user">User Access</a></li>
    <li><a href="/new">Content Request</a></li>
    <li><a href="/emergency">Emergency Publishing</a></li>
    <li><a href="/tech-issues">Technical Issues</a></li>
  </ul>
</div>