<section id="content">
  <header class="section-header">Campaign</header>
  <label for="name">Name of the campaign</label>
  <input id="name" name="name" type="text" required>

  <label for="company">Company affiliated with this campaign</label>
  <input id="company" name="company" type="text">

  <label for="description">Campaign Description</label>
  <input id="description" name="description" type="text">

  <label for="url_label">URL on </label>
  <label id="url_label"  for="target_url" class="url">http://gov.uk/</label>
  <input id="target_url" name="target_url" type="text">


  <%= erb :date, :locals => {:title => "Start Date", :label => 'need_by'}%>
  <p></p>

</section>