<div class="menu">
  <h2>Content request</h2>
  <ul>
    <li><a href="/add"><%= erb :highlight, :locals => {:name => "Add content"} %></a></li>
    <li><a href="/amend"><%= erb :highlight, :locals => {:name => "Amend content"} %></a></li>
    <li><a href="/delete"><%= erb :highlight, :locals => {:name => "Delete content"} %></a></li>
  </ul>

  <h2>Other sections</h2>
  <ul>
    <li><a href="/create-user">User access</a></li>
    <li><a href="/emergency">Emergency publishing</a></li>
    <li><a href="/campaign">Campaigns</a></li>
    <li><a href="/tech-issues">Technical issues</a></li>
  </ul>
</div>


