<div class="menu">
  <h2>Content request</h2>
  <ul>
    <li><a href="/new"><%= erb :highlight, :locals => {:name => "New Content"} %></a></li>
    <li><a href="/amend"><%= erb :highlight, :locals => {:name => "Amend Content"} %></a></li>
    <li><a href="/delete"><%= erb :highlight, :locals => {:name => "Delete Content"} %></a></li>
  </ul>

  <h2>Other sections</h2>
  <ul>
    <li><a href="/create-user">User Access</a></li>
    <li><a href="/emergency">Emergency Publishing</a></li>
    <li><a href="/campaign">Campaigning</a></li>
    <li><a href="/tech-issues">Technical Issues</a></li>
  </ul>
</div>


