<%= erb :header %>

<h1>Delete Content</h1>

<%= erb :common, :locals => {:departments => departments} %>

  <section id="content">
    <label for="target_url">URL on gov.uk</label>
    <input id="target_url" name="target_url" type="url" required>

    <label for="need_by">When should this content be added?</label>
    <input id="need_by" name="need_by" type="date" required>

    <label for="comments">Please add additional comments below:</label>
    <textarea id="comments" rows="2" cols="60" name="content_additional"></textarea>
  </section>
<%= erb :footer %>