<div class="menu">
  <h2>Emergency Publishing</h2>
  <ul>
    <li><a href="/emergency"><%= erb :highlight, :locals => {:name => "Emergency Publishing"} %></a></li>
  </ul>

  <ul>

  </ul>

  <h2>Other sections</h2>
  <ul>
    <li><a href="/create-user">User access</a></li>
    <li><a href="/add-content">Content request</a></li>
    <li><a href="/campaign">Campaigns</a></li>
    <li><a href="/tech-issues">Technical issues</a></li>
  </ul>
</div>
