<span class="errors" style= "<% if @errors && @errors["#{key}"] %>  display: inline; <%else%> display: none; visibility: hidden; <% end%>">
  <% if @errors %>
    <em> <%= @errors["#{key}"] %> </em>
   <% end %>
</span>