<div class="inner">
  <header class="content-header group">
    <hgroup><h1>Welcome To GovUK Support</h1></hgroup>
  </header>

  <%= erb :menu %>

  <div id="form">
    <p class="error">
      There has been a problem
    </p>
    <p>
      <%= @error_msg %>
    </p>
  </div>
  <div class="toclear"></div>
</div>
