<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/gov_feedback.css"/>
  <link rel="shortcut icon" href="#" />
  <script type="text/javascript" src="javascripts/jquery-1.7.2.js"></script>
  <script type="text/javascript" src="javascripts/gov_feedback.js"></script>
</head>
<body>

<h1>Feedback</h1>

<script type="text/javascript">
  function disable(){
      document.getElementById("content").disable();
  }
</script>

<form name="input" method="post">
  <section id="author">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" >

    <label for="email">Email</label>
    <input id="email" name="email" type="email" >

    <label for="job">Job Title</label>
    <input id="job" name="job" type="text" >

    <label for="phone">Phone Number</label>
    <input id="phone" name="phone" type="tel">

    <label for="department_list">Department</label>
    <select id="department_list" name="department">
      <% departments.each do |key, value| %>
        <option value="<%= value %>"><%= key %></option>
      <% end %>
    </select>
  </section>

  <section id="content">
    <label for="target_url">URL on gov.uk</label>
    <input id="target_url" name="target_url" type="url" required>

    <label for="feedback">Add your feedback</label>
    <textarea id="feedback" rows="6" cols="60" name="new_content"></textarea>

    <label for="content_added_on">When should this content be added?</label>
    <input id="content_added_on" name="content_added_date" type="date" >

    <label for="not_added_before">Not to be added before</label>
    <input id="not_added_before"  name="not_added_before" type="date">

    <label for="comments">Please add additional comments below:</label>
    <textarea id="comments" rows="2" cols="60" name="content_additional"></textarea>
  </section>
  <input id="create" type="submit" value="Create" onclick="disable()">


  <div>
    <p class="top_menu" id="content_menu" onclick="show_correspond_content(true, 'sub_content_menu', '.sub_menu');">Content
      Request</p>
    <ul class="sub_menu" id="sub_content_menu" style="display: none;">
      <li onclick="show_correspond_content(true, 'new_content_session', '.content')"> New Content</li>
      <div class="content" id="new_content_session" name="new_con" style="display: none;">
        URL for new content: <input type="url"> </input><br/>
        Add the content below: <br/>
        <textarea cols="60" rows="6"></textarea><br/>
        When should this content be added?
        <input name="date_picker" id="content_added_data_string" name="content_add_date" type="date"> </input><br/>
        Is there a date that this should not be added before?
        <input type="radio" checked="return validate_check(true, 'not_before_date_string','.date_picker')" value="Yes">
        <input type="radio" checked="return validate_check(this.checked, 'not_before_date_string','.date_picker')">
        <input class="check_box_not_before" type="checkbox" id="not_before_date_yes" onchange="return validate_check(this.checked, 'not_before_date_string','.date_picker')"/>
        <input name="date_picker" id="not_before_date_string" name="content_add_date" type="date" style="display: none"/><br/>
        Please add additional comments below:  <br/>
        <textarea cols="60" rows="5"></textarea>
      </div>

      <li onclick="show_correspond_content(true, 'amend_content_session', '.content')"> Amend Content</li>
      <div class="content" id="amend_content_session" name="amend_content" style="display: none;">
        Url for content to be amended: <input type="url" /> <br/>
        Copy and paste old content below:<br/>
        <textarea name="old_content_to_amend" cols="60" rows="6"> </textarea></textarea><br/>
        Please put the new content below:<br/>
        <textarea name="new_content_to_amend" cols="60" rows="6"></textarea><br/>
        Please check the box if the content should be removed <input type="checkbox" name="content_remove_check_box" onchange="return validate_check(this.checked, 'location_content_to_remove', '.amend_hiddable')">
        <input id="location_content_to_remove" class="amend_hiddable" name="content_remove_locate" style="display: none;"><br/>
        When should this change be made? <input type="date" name="need_by_date"> <br/>
        Please check the box if there is a date that this change should not be made before?
        <input class="check_box_not_before" type="checkbox" id="not_before_date_amend" onchange="return validate_check(this.checked, 'not_before_amend_date_string','.amend_date_picker')"/>
        <input style="display: none;" type="date" id="not_before_amend_date_string" class="amend_date_picker"><br/>
        Please add additional comments below: <br/>
        <textarea cols="60" rows="6" name="additional_amend_comments"></textarea>
      </div>

      <li onclick="show_correspond_content(true, 'delete_content_session','.content')"> Delete Content</li>
      <div class="content" id="delete_content_session" name="delete_content" style="display: none">
        The Url where the content should be deleted: <input type="url" name="url_delete"><br/>
        When should this content should be deleted? <input type="date" >  <br/>
        Please add additional comments below:<br/>
        <textarea cols="60" rows="6" name="additional_delete_comments"></textarea>
      </div>
    </ul>

    <p class="top_menu" id="issue_menu" onclick="show_correspond_content(true, 'sub_issue_menu','.sub_menu');">Issue</p>
    <ul class="sub_menu" id="sub_issue_menu" style="display: none;">
      <li> New Content</li>
      <li> Amend Content</li>
      <li> Delete Content</li>
    </ul>
  </div>


</form>

</body>
</html>

