<footer class="group" id="footer">
  <div class="message">
    <p></p>
  </div>
  <div class="copyright">
    <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">© Crown Copyright</a>
  </div>
</footer>