<div id="wrapper">
  <section id="framework">

    <div class="inner">
        <header class="page-header group">
          <hgroup><h1>Welcome To GovUK Support.</h1></hgroup>
        </header>

      <%= erb :contentmenu %>

      <div id="form">

        <p class="landing">
          Choose one of the options on the left to help us deal with your request as quickly as possible.
          <br/><br/>
          Thanks for contacting us, we'll get in touch soon if we need any more information.
        </p>


      </div>
      <div class="toclear"></div>
    </div>
  </section>
</div>

<%= erb :footer %>
