<div id="wrapper">
  <section id="framework">

    <div class="inner">
        <header class="page-header group">
          <hgroup><h1>Welcome To GovUK Support</h1></hgroup>
        </header>

      <%= erb :contentmenu %>

      <div id="form">
        <p class="landing">
          Choose one of the options on the left to help us deal with your request as quickly as possible.
        </p>
      </div>
      <div class="toclear"></div>
    </div>
  </section>
</div>

<%= erb :footer %>
