<div id="wrapper">
  <section id="framework">

    <div class="inner">
        <header class="page-header group">
          <hgroup><h1>Welcome To GovUK Support!</h1></hgroup>
        </header>

      <%= erb :menu %>

      <div id="form">

        <p class="landing">
          Please use the links on the left to create your request so we can process your
          submission as quickly as possible.
          <br/><br/>
          We will be in contact with you soon if further information is required.
          <br/><br/>
          Thank you.
        </p>


      </div>
      <div class="toclear"></div>
    </div>
  </section>
</div>

<%= erb :footer %>
