<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/gov_feedback.css"/>

  <% yield_content :head %>
</head>
<body>
<header role="banner" class="group" id="global-header">
  <div class="header-global group">
    <h1><a href="/" title="Go to the gov.uk homepage">GOV.UK</a></h1>
  </div>
</header>

<%=  yield %>
</body>
</html>
