<!DOCTYPE html>
<html>
<head>
  <%= erb :header %>
</head>
<body>
<header role="banner" class="group" id="global-header">
  <div class="header-global group">
    <h1><a href="http://gov.uk" title="Go to the gov.uk homepage">GOV.UK</a></h1>
  </div>
</header>

<%=  yield %>
</body>


</html>
