<html xmlns="http://www.w3.org/1999/html">

<body>

<h1>Feedback</h1>

<div id="main_menu">
  <label id="content_request" for="content_list">Content Request</label>
  <ul id="content_list">
    <li><a href="/new">New Content</a></li>
    <li><a href="/amend">Amend Content</a></li>
    <li><a href="/delete">Delete Content></a></li>
  </ul>

</div>

</body>

