<% content_for :head do %>
    <h1>Feedback</h1>
<% end  %>

<div id="main_menu">
  <label id="content_request" for="content_list">Content Request</label>
  <ul id="content_list">
    <li><a href="/new">New Content</a></li>
    <li><a href="/amend">Amend Content</a></li>
    <li><a href="/delete">Delete Content</a></li>
  </ul>

</div>


