<div id="menu" class="menu">
  <ul>
    <li class="top">
      <p>Content request</p>
      <ul id="content_list">
        <li><a href="/new">New content</a></li>
        <li><a href="/amend">Amend content</a></li>
        <li><a href="/delete">Delete content</a></li>
      </ul>
    </li>
  </ul>

  <ul>
    <li class="top">
      <p>User access</p>
      <ul id="access_list">
        <li><a href="/create-user">Create new user</a></li>
        <li><a href="/delete-user">Delete user</a></li>
        <li><a href="/reset-password">Reset password</a></li>
      </ul>
    </li>
  </ul>

</div>


