<div id="menu" class="menu">
  <ul>
    <li class="top">
      <p>Content Request</p>
      <ul id="content_list">
        <li><a href="/new">New Content</a></li>
        <li><a href="/amend">Amend Content</a></li>
        <li><a href="/delete">Delete Content</a></li>
      </ul>
    </li>
  </ul>

</div>


