<div id="menu" class="menu">
  <label id="content_request" for="content_list">Content Request</label>
  <ul id="content_list">
    <li><a href="/new">New Content</a></li>
    <li><a href="/amend">Amend Content</a></li>
    <li><a href="/delete">Delete Content</a></li>
  </ul>

</div>


