<fieldset>
  <div class="upload">
    <label for="<%= id %>">Do you want to upload a file? (20MB limit)</label>
    <br/>
    <input id="<%= id %>" name="<%= name %>" type="file"/>
  </div>
</fieldset>

<fieldset>
  <label style="height:50px;">Alternatively</label>
</fieldset>
