<div id="menu" class="menu">
  <ul>
    <li class="top">
      <p>User Access</p>
      <ul id="access_list">
        <li><a href="/create-user">Create New User</a></li>
        <li><a href="/delete-user">Delete User</a></li>
        <li><a href="/reset-password">Reset Password</a></li>
      </ul>
    </li>
  </ul>

</div>