<div id="wrapper">
  <section id="framework">

    <div class="inner">
      <header class="page-header group">
        <hgroup><h1>Welcome To GovUK Support.</h1></hgroup>
      </header>

      <%= erb :emergencymenu %>

      <div id="form">

        <p class="landing">
          Work in progress
          <br/><br/>
        </p>

      </div>
      <div class="toclear"></div>
    </div>
  </section>
</div>

<%= erb :footer %>
