*.gem
*.rbc
.idea
.DS_Store
lib/.DS_Store
lib/public/.DS_Store
lib/public/javascripts/.DS_Store
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
