<div class="alert alert-info">
  <p>Please use this path to:</p>
  <ul>
    <li>report planned departmental changes that affect GOV.UK and its users</li>
    <li>report issues that don't fit into other categories</li>
  </ul>
</div>
