<div class="alert alert-info alert-block">
  <p>You'll get an automated response to confirm we've received your request. We'll then review your request within 2 working days.</p>
  <p>When filling out this form...</p>
  <p>Please do:</p>
  <ul>
    <li>explain the problem – what speciﬁcally needs to be addressed and why?</li>
    <li>focus on the facts not the presentation</li>
    <li>focus on what the user needs to know to complete a specific task, rather than the policy background</li>
    <li>combine changes to one item into one ticket where possible</li>
  </ul>
  <p>Please don't:</p>
  <ul>
    <li>cut-and-paste long email chains</li>
    <li>re-write the content</li>
  </ul>
</div>
