<section id="content">
  <header class="section-header">Details of your problem, request or suggestion</header>
  <label for="target_url" class="long">URL (if applicable)</label>
  <input id="target_url" name="url" type="text" required aria-required="true" <%= render "assignvalue", {:param => @formdata[:url]} %>>
  <%= render "errors", {errors: @errors, key: "Url"} %>

  <fieldset>
    <div class="comments">
      <label for="comments">Details</label>
      <textarea id="comments" rows="10" cols="50" name="additional"><%= @formdata[:additional] %></textarea>
    </div>
  </fieldset>
</section>
