<section id="content">
  <header class="section-header">Technical Issues</header>
  <label for="target_url">URL on </label><label class="url">http://gov.uk/</label>
  <input id="target_url" name="url" type="text" required value=<%= erb :assignvalue, :locals => {:param => @formdata[:url]} %>>

  <label for="comments">Additional Comments</label>
  <textarea id="comments" rows="10" cols="50" name="additional" value=<%= erb :assignvalue, :locals => {:param => @formdata[:additional]} %>></textarea>
</section>
