<section id="content">
  <header class="section-header">Technical Issues</header>
  <label for="target_url">URL on </label><label class="url">http://gov.uk/</label>
  <input id="target_url" name="target_url" type="text" required>

  <label for="comments">Additional Comments</label>
  <textarea id="comments" rows="10" cols="50" name="additional"></textarea>
</section>
