<section id="content">
  <header class="section-header">Publishing Tool</header>
  <label for="target_url">URL on </label><label class="url">http://gov.uk/</label>
  <input id="target_url" name="target_url" type="text" required value=<%= erb :assignvalue, :locals => {:param => @formdata[:target_url]} %> >

  <label for="username">Username</label>
  <input id="username" name="username" type="text" required value=<%= erb :assignvalue, :locals => {:param => @formdata[:username]} %> >

  <label for="comments">Please describe briefly the problem which encountered</label>
  <textarea id="comments" rows="10" cols="50" name="additional" value=<%= erb :assignvalue, :locals => {:param => @formdata[:additional]} %> ></textarea>
</section>
