<div class="menu">
  <h2>Technical Issues</h2>
  <ul>
    <li><a href="/broken-link"><%= erb :highlight, :locals => {:name => "Broken link"} %></a></li>
    <li><a href="/publish-tool"><%= erb :highlight, :locals => {:name => "Publishing tool"} %></a></li>
  </ul>

  <ul>

  </ul>

  <h2>Other sections</h2>
  <ul>
    <li><a href="/create-user">User access</a></li>
    <li><a href="/add-content">Content request</a></li>
    <li><a href="/campaign">Campaigns</a></li>
  </ul>
</div>
