<div class="menu">
  <h2>Campaigns</h2>
  <ul>
    <li><a href="/campaign"><%= erb :highlight, :locals => {:name => "Campaign"} %></a></li>
  </ul>

  <ul>

  </ul>

  <h2>Other sections</h2>
  <ul>
    <li><a href="/create-user">User access</a></li>
    <li><a href="/amend-content">Content request</a></li>
    <li><a href="/broken-link">Technical issues</a></li>
  </ul>
</div>