<section id="user">
  <header class="section-header">User Details</header>
  <label for="user_name">Username</label>
  <input id="user_name" name="user_name" type="text" required value=<%= erb :assignvalue, :locals => {:param => @formdata[:user_name]} %>>

  <label for="email">Email</label>
  <input id="email" name="user_email" type="email" required value=<%= erb :assignvalue, :locals => {:param => @formdata[:user_email]} %>>

  <label for="comments">Additional comments</label>
  <textarea id="comments" rows="10" cols="50" name="additional" value=<%= erb :assignvalue, :locals => {:param => @formdata[:additional]} %>></textarea>
</section>
