<div class="menu">
  <h2>User Access</h2>
  <ul>
    <li><a href="/create-user"><%= erb :highlight, :locals => {:name => "Create new user"} %></a></li>
    <li><a href="/remove-user"><%= erb :highlight, :locals => {:name => "Remove user"} %></a></li>
    <li><a href="/reset-password"><%= erb :highlight, :locals => {:name => "Reset password"} %></a></li>
  </ul>

  <h2>Other sections</h2>
  <ul>
    <li><a href="/amend-content">Content request</a></li>
    <li><a href="/campaign">Campaigns</a></li>
    <li><a href="/broken-link">Technical issues</a></li>
  </ul>
</div>
