@import "govuk_admin_template";

$sortable-table-focused-column-color: #cccccc;
$sortable-table-column-color: #dddddd;

.table-sortable {
  .sortable-column {
    padding: 0;
  }

  .sortable-column div {
    padding: $table-cell-padding;
  }

  .sortable-column a:hover,
  .sortable-column a:focus {
    text-decoration: none;

    div {
      background-color: $sortable-table-focused-column-color;
    }
  }

  .sorted-column div {
    background-color: $sortable-table-column-color;
  }

  .sorted-column .glyphicon {
    margin-left: 5px;
  }
}

.item-count-column {
  min-width: 100px;
}
