<div id="action">
   <%= f.input :action, as: :radio, required: true, label: "What would you like to request?", collection: f.object.action_options, input_html: { :"aria-required" => true } %>
</div>

<br/>

<%= render partial: 'support/user_needs', locals: { f: f } %>

<div id="user_details" %>
  <%= render partial: 'requested_user_details', locals: { f: f } %>  
</div>

<%= f.input :additional_comments, as: :text, label: "Additional comments", input_html: { class: "form-md-6", rows: 6, cols: 50 } %>
