<tr class="anonymous-contact">
  <th scope="row" class="no-wrap"><%= anonymous_contact.created_at.to_date.to_s(:govuk_date) %></th>
  <td>
    <%= render partial: "feedback", locals: { anonymous_contact: anonymous_contact } %>
  </td>
  <td>
    <% if anonymous_contact.path %>
      <%= link_to anonymous_contact.path, anonymous_contact.url, class: "breakable" %>
    <% else %>
      &ndash;
    <% end %>
  </td>
  <td>
    <% if anonymous_contact.referrer %>
      <%= link_to truncate(anonymous_contact.referrer), anonymous_contact.referrer, class: "breakable" %>
    <% else %>
      &ndash;
    <% end %>
  </td>
</tr>
