<%= paginate feedback, theme: 'twitter-bootstrap-3' %>

<table id="results" class="table table-hover table-bordered">
  <thead>
    <tr class="table-header">
      <th>creation date</th>
      <th>feedback</th>
      <th>full path</th>
      <th>user came from</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "anonymous-contact", collection: feedback, as: :anonymous_contact %>
  </tbody>
</table>

<%= paginate feedback, theme: 'twitter-bootstrap-3' %>
