<%= paginate feedback, theme: 'twitter-bootstrap-3' %>

<table id="results" class="table table-hover table-bordered">
  <thead>
    <tr class="table-header">
      <th class="col-md-1">creation date</th>
      <th class="col-md-6">feedback</th>
      <th class="col-md-3">full path</th>
      <th class="col-md-2">user came from</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "anonymous-contact", collection: feedback, as: :anonymous_contact %>
  </tbody>
</table>

<%= paginate feedback, theme: 'twitter-bootstrap-3' %>
