<%= paginate feedback, theme: 'twitter-bootstrap-3' %>

<table id="results" class="table table-bordered">
  <thead>
    <tr class="table-header">
      <th class="no-wrap">Date</th>
      <th class="col-md-5">Feedback</th>
      <th class="col-md-3">URL</th>
      <th class="col-md-3">Referrer</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "anonymous-contact", collection: feedback, as: :anonymous_contact %>
  </tbody>
</table>

<%= paginate feedback, theme: 'twitter-bootstrap-3' %>
