<%= content_for :page_title, "Feedback for “#{params[:path]}”" %>
<%= content_for :header, params[:path] %>
<% breadcrumb :anonymous_feedback_by_path, params[:path] %>

<p class="feedback-response-count text-muted">
  <%= pluralize(number_with_delimiter(@feedback.total_count), 'response') %>
</p>

<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <form class="form-inline date-filter-form panel-body">
        <fieldset>
          <legend class="rm">Filter feedback by date</legend>
          <label class="add-right-margin" for="start-date">
            Show responses between <span class="rm">starting date</span>
          </label>
          <input type="text" id="start-date" class="input-sm form-control add-right-margin" data-module="calendar" data-max-date="0" />

          <label class="add-right-margin" for="end-date">and <span class="rm">end date</span></label>
          <input type="text" id="end-date" class="form-control input-sm" data-module="calendar" data-max-date="0" />

          <input type="submit" value="Filter" class="btn-sm btn btn-default add-left-margin" />
        </fieldset>
      </form>
    </div>
  </div>
</div>

<% if @feedback.empty? %>
  <div class="no-content no-content-bordered">There is no feedback for this path.</div>
<% else %>
  <%= render partial: "results", locals: { feedback: @feedback } %>
<% end %>
