<div id="user-needs"<%= ' class="has-error"'.html_safe if f.object.errors[:formatted_user_needs].any? %>>
  <% if f.object.errors[:formatted_user_needs].any? %>
    <span class="help-block">
      <%= f.object.errors[:formatted_user_needs].to_sentence %>
    </span>
  <% end %>
</div>
