@import "govuk_admin_template";
@import "calendar";
@import "breadcrumbs";

thead {
  background-color: $gray-lighter;
}

#new-request-dropdown {
  display: none;
}

.js #new-request-dropdown {
  display: block;
}

.list-group.disabled {
  color: $nav-disabled-link-hover-color;
}

.danger-callout {
  border-left-color: #d9534f;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.rounded-callout {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.no-wrap {
  white-space: nowrap;
}
