/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require "jquery-ui/datepicker"
 */

@import "govuk_admin_template";
@import "breadcrumbs";

thead {
  background-color: $gray-lighter;
}

#new-request-dropdown {
  display: none;
}

.js #new-request-dropdown {
  display: block;
}

.list-group.disabled {
  color: $nav-disabled-link-hover-color;
}

.danger-callout {
  border-left-color: #d9534f;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.rounded-callout {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.no-wrap {
  white-space: nowrap;
}
