<%= f.fields_for :requester do |r| %>
  <% if @use_design_system %>
    <%= render "govuk_publishing_components/components/input", {
      label: { text: "Who needs a copy of this request?" },
      hint: "Separate email addresses with commas.",
      value: r.object.collaborator_emails.join(", "),
      name: name_for(f, %w[requester_attributes collaborator_emails]),
    } %>
  <% else %>
    <div class="form-group">
      <span class="form-label">
        <%= r.label :collaborator_emails, "Who needs a copy of this request?" %>
      </span>
      <p class="help-block hint-block--md-6" id="collaborators-hint">
        Separate email addresses with commas.
      </p>
      <span class="form-wrapper">
        <%= r.text_field :collaborator_emails, required: false, class: "input-md-6 form-control", value: r.object.collaborator_emails.join(", "), aria: {
          describedby: "collaborators-hint"
        } %>
      </span>
    </div>
  <% end %>
<% end %>
