<div id="request-context">
   <%= f.input :request_context, as: :radio, required: true, label: "Which part of GOV.UK is this about?", collection: f.object.request_context_options, input_html: { :"aria-required" => true } %>
</div>