<div id="tool-role-choice">
   <%= f.input :tool_role, as: :radio, required: true, label: "Which tool/role is this about?", collection: f.object.tool_role_options, input_html: { :"aria-required" => true } %>
</div>