<div id="user-needs">
   <%= f.input :user_needs, as: :radio, required: true, label: "Select Whitehall user account", collection: f.object.whitehall_account_options, input_html: { :"aria-required" => true } %>
</div>
