<%= content_for :page_title, "Acknowledge" %>
<%= content_for :header, "Success" %>
<div class="alert alert-success">
  <h2>
    Thank you!
  </h2>
  <p>Your ticket has been submitted successfully.</p>
</div>
