<%= content_for :page_title, "Error" %>
<%= content_for :header, "Request not permitted" %>
<div class="alert alert-error">
  <h2>
    You have not been granted permission to make these requests.
  </h2>
  <p>Please ask your departmental digital SPOC to request access and required permissions on your behalf.</p>
</div>
