<%= content_for :page_title, "Error" %>
<%= content_for :header, "Request not permitted" %>
<div class="alert alert-error">
  <h2>
    You have not been granted permission to create these requests.
  </h2>
  <p>Please ask your Single Point of Contact for GDS to request access on your behalf.</p>
</div>
