<%= content_for :page_title, "Error" %>
<%= content_for :header, "Unavailable section" %>
<div class="alert alert-danger">
  <h2>
    You don't have access to this section.
  </h2>
  <p>If you need this access, ask your departmental single point of contact to request it on your behalf.</p>
</div>
