<%= content_for :page_title, "Error" %>
<%= content_for :header, "Unavailable section" %>
<div class="alert alert-danger">
  <h2>
    You don't have access to the requred Google sheets.
  </h2>
  <p>Make sure you use your work email address. If the problem persists contact the system administrator.</p>
</div>
