<%= content_for :page_title, "Home" %>
<%= content_for :header, "Welcome to GOV UK Support" %>

<p class="landing">
  Choose one of the options to help us deal with your request as quickly as possible.
</p>
