<%= content_for :page_title, "Home" %>
<%= content_for :header, "Welcome to GOV.UK Support" %>
<div class="alert alert-error">
  <h2>
    <%= I18n.t error_string %>
  </h2>
  <p>
    Please wait and try again in a little while. Thank you!
  </p>
</div>
