<%= content_for :page_title, "Home" %>
<%= content_for :header, "Welcome to GOV.UK Support" %>
<div class="alert alert-error">
  <h2>
    We&lsquo;re sorry, we were unable to submit your ticket to our ticketing system successfully.
  </h2>
  <p>
    Please wait and try again in a little while. Thank you!
  </p>
</div>
